* {
  margin: 0;
  padding: 0;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
body {
  background-color: #020510;
}

/* nav bar style starts here */
.nav-bar {
  display: flex;
  padding: 10px;
  box-shadow: inset;
  border-bottom: 1px solid blue;
}
.nav-bar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.nav-bar h2 {
  color: white;
}
.nav-bar .profile {
  display: flex;

  align-items: center;
  gap: 10px;
}
/* nav bar style  ends here */

/* section-one starts here */
.section-one {
  display: flex;
  justify-content: end;
  margin: 20px;
}
.section-one div {
  background-color: blue;
  padding: 20px;
  border-radius: 5px;
}
.section-one div a {
  color: white;
}

/* section-one ends here */

.container {
  border: 2px solid white;
  height: 300px;
  width: 300px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px blue;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-two {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .section-one {
    display: flex;
    justify-content: center;
  }
}
